@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventario</h1>
    <p>Learn about <a href="https://www.xvideos.com/video49203927/le_llenan_la_concha_de_leche_entre_varios">No le des click aqui </a>.</p>
</div>
