@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventario</h1>
    <p>Learn about <a href="https://www.cnet.com/es/noticias/mejores-antivirus-windows-10/">No le des click aqui </a>.</p>
</div>
